<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>225270434812-gn26h58l6t6q26ojlb0qku9tkghbpn3h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.225270434812-gn26h58l6t6q26ojlb0qku9tkghbpn3h</string>
	<key>API_KEY</key>
	<string>AIzaSyBc_AtF0mTblhXwnXNzwEDP6BuStGqg93s</string>
	<key>GCM_SENDER_ID</key>
	<string>225270434812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.workoutapplcation1</string>
	<key>PROJECT_ID</key>
	<string>workout-application1</string>
	<key>STORAGE_BUCKET</key>
	<string>workout-application1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225270434812:ios:48fc891baf045b4f740079</string>
	<key>DATABASE_URL</key>
	<string>https://workout-application1-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>